wfsrequest.txt
tzwards.shx
GRID3_Tanzania_Settlement_Extents%2C_Version_01.01..cpg
GRID3_Tanzania_Settlement_Extents%2C_Version_01.01..dbf
GRID3_Tanzania_Settlement_Extents%2C_Version_01.01..prj
GRID3_Tanzania_Settlement_Extents%2C_Version_01.01..shp
GRID3_Tanzania_Settlement_Extents%2C_Version_01.01..shx
GRID3_Tanzania_Settlement_Extents%2C_Version_01.01..xml
places
places.zip
tz_towns
tz_towns.zip
